.content-tab-menu {
    background-color : white;
}
.content-tab-main {
    background-color: #096dd9;
}
.icon-img {
    height: 30px;
    width: 30px;

  } 
  .button-menu {
    margin:20px;
    padding: 10px;
    text-align: center;
  }
  .button-logout {
    margin:10px;
    text-align: center;
  }
 .tab-menu {
    height: 86%;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .tab-topic {
    margin-top: 20px;
  }
  .user-profile {
    width: 100%;
    height: 100px;
    
    align-items: center;
    text-align: center;
    padding: 10px;

  }
  .text-user {
    display: inline;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
  }
  