.container-fuild {
    align-items: center;
    padding: 20px;
    height: 100vh;
}

tbody {
    
    overflow: hidden;
    overflow-wrap: normal;
    overflow-y: auto;
    width: fit-content;
    text-align: center;

}

table {
   
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;
    
    


}
.table-border {
    border: 1px solid black;
}
.font-status {
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
}
p {
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    margin-left: 20px;
    color: black;
}